{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Мой Django</h1>
    <p class="lead">Это мой первый сайт на Django  с использованием  HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ЛЭТИ</h2>
        <p>
            Санкт-Петербургский государственный электротехнический университет
            «ЛЭТИ» им. В.И.Ульянова (Ленина) 
        </p>
        <p><a class="btn btn-default" href="https://etu.ru/">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Worldometer</h2>
        <p>Коронавирус COVID-19 поражает 218 стран и территорий по всему миру.
        Данные за день сбрасывается после полуночи GMT+0. 
        Список стран и территорий и их континентальная региональная классификация основаны
        на Геосхеме Организации Объединенных Наций. </p>
        <p><a class="btn btn-default" href="https://www.worldometers.info/coronavirus/#page-top">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скидки в магазинах</h2>
        <p>Лучшие акции.</p>
        <p><a class="btn btn-default" href="https://edadeal.ru/izhevsk/">Перейтиe &raquo;</a></p>
    </div>
</div>


{% load staticfiles %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{% static 'app/content/banner1.jpg'%} " alt="Первый слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Погода...
                    <a class="btn btn-default" href="https://yandex.ru/pogoda/izhevsk?utm_campaign=informer&utm_content=main_informer&utm_medium=web&utm_source=home&utm_term=main_number">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'app/content/banner2.jpg'%}" alt="Второй слайд"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Погода...
                    <a class="btn btn-default" href="https://yandex.ru/pogoda/izhevsk?utm_campaign=informer&utm_content=main_informer&utm_medium=web&utm_source=home&utm_term=main_number">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src=" {% static 'app/content/banner3.jpg'%} " alt="Третий слайд"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Погода...
                    <a class="btn btn-default" href="https://yandex.ru/pogoda/izhevsk?utm_campaign=informer&utm_content=main_informer&utm_medium=web&utm_source=home&utm_term=main_number">
                        Читать далее
                    </a>
                </p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

{% endblock %}
