{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Мой Django</h1>
    <p class="lead">Это мой первый сайт на Django  с использованием  HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ЛЭТИ</h2>
        <p>
            Санкт-Петербургский государственный электротехнический университет
            «ЛЭТИ» им. В.И.Ульянова (Ленина) 
        </p>
        <p><a class="btn btn-primary btn-large" href="https://etu.ru/">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Worldometer</h2>
        <p>Коронавирус COVID-19 поражает 218 стран по всему миру.
        Данные за день обновляются после полуночи GMT+0.  </p>
        <p><a class="btn btn-primary btn-large" href="https://www.worldometers.info/coronavirus/#page-top">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скидки</h2>
        <p>Лучшие акции в магазинах.</p>
        <p><a class="btn btn-primary btn-large" href="https://edadeal.ru/izhevsk/">Перейтиe &raquo;</a></p>
    </div>
</div>


{% load staticfiles %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{% static 'app/content/banner1.jpg'%} " width =130 height=130 alt="Первый слайд" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    ПОГОДА RP5...
                    <a class="btn btn-default" href="https://rp5.ru/%D0%9F%D0%BE%D0%B3%D0%BE%D0%B4%D0%B0_%D0%B2_%D0%98%D0%B6%D0%B5%D0%B2%D1%81%D0%BA%D0%B5">
                        Показать
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'app/content/banner2.jpg'%}" width =130 height=130  alt="Второй слайд"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    ПОГОДА GISMETEO...
                    <a class="btn btn-default" href="https://www.gismeteo.ru/weather-izhevsk-4508/">
                        Показать
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src=" {% static 'app/content/banner3.jpg'%}" width =130 height=130   alt="Третий слайд"  class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    ПОГОДА YANDEX ..
                    <a class="btn btn-default" href="https://yandex.ru/pogoda/izhevsk">
                        Показать
                    </a>
                </p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

{% endblock %}
